/* Provide sufficient contrast against white background */
a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

code {
  color: #E01A76;
}

html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}